<div class="blog-search">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Search" ng-model="query">
  </div>
</div>

<div class="blog-post" ng-repeat="post in posts | filter:query | orderBy:'-id'">
  <p>{{post.text}}</p>
  <p class="blog-post-meta pull-left">
    <span class="label label-primary"><i class="fa fa-thumbs-o-up"></i> {{post.likes}}</span>
  </p>
  <p class="blog-post-meta">
    <a ng-href="#modify/{{post.id}}"><i class="fa fa-pencil padding"></i></a>
    <i class="fa fa-trash-o padding-left"></i>
  </p>
  <p class="blog-post-meta small">{{post.date | date}} by {{post.name}}</p>
</div>
