<div class="blog-search">
  <div class="input-group">
    <span class="input-group-addon"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
</div>

<div class="blog-post">
  <p>This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.</p>
  <p class="blog-post-meta pull-left">
    <span class="label label-primary"><i class="fa fa-thumbs-o-up"></i> 0</span>
  </p>
  <p class="blog-post-meta">
    <i class="fa fa-pencil padding"></i>
    <i class="fa fa-trash-o padding-left"></i>
  </p>
  <p class="blog-post-meta small">January 1, 2014 by Mark</p>
</div>

<div class="blog-post">
  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
  <p class="blog-post-meta pull-left">
    <span class="label label-primary"><i class="fa fa-thumbs-o-up"></i> 5</span>
  </p>
  <p class="blog-post-meta">
    <i class="fa fa-pencil padding"></i>
    <i class="fa fa-trash-o padding-left"></i>
  </p>
  <p class="blog-post-meta small">December 23, 2013 by Jacob</p>
</div>

<div class="blog-post">
  <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p class="blog-post-meta pull-left">
    <span class="label label-primary"><i class="fa fa-thumbs-o-up"></i> 10</span>
  </p>
  <p class="blog-post-meta">
    <i class="fa fa-pencil padding"></i>
    <i class="fa fa-trash-o padding-left"></i>
  </p>
  <p class="blog-post-meta small">December 14, 2013 by Chris</p>
</div>
